.inputContainer > label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 2px;
  margin-top: 10px;
}
.input,.textarea, .selectitem {
  width: 100%;
  padding: 15px 20px 15px 10px;
  align-self: center;
  margin-bottom: 3px;
  box-sizing: border-box;
}
.inputContainer {
  box-sizing: border-box;
}
.invalid {
  border-color: red;
}
.invalidFeedback {
  color: red;
  padding-bottom: 5px;
}
.text {
  margin-bottom: 10px;
  display: block;
}
.inputGroup {
  position: relative;
}
.icon {
  height: 100%;
  position: absolute;
  width: 50px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputText {
  margin-left: 50px;
}
.iconImage {

}
