.dashbord {
  margin-top: 130px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.button {
  align-self: center;
}
.button > button {
  background-color: brown;
  color: white;
  border: 2px black solid;
  outline: none;
  border-radius: 25px;
  width: 150px;
  height: 50px;
}
.button > button > a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.button > button > a:hover {
  cursor: pointer;
}
.podarki {
  flex: 1 1 auto;
}
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0 0 20%;
  width: 20vw;
}
.profile {
  align-self: center;
  margin-top: 20px;
}